@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --background-color-white: #ffffff;
  --accent-color-green: #5BCC15;
  --accent-color-darkk-red: #DB0F3B;
  --accent-color-med-red: #ED2D50;
  --accent-color-lt-red: #F0396C;
  --accent-color-purple: #411EB5;
  --accent-color-md-purple: #8A66DB;
  --accent-color-lt-purple: #a078fc;
  --accent-color-pale-purple: #b6a6fc;
  --accent-color-black: #000000;
  --accent-color-darker-grey: #1b1e22;
  --accent-color-dark-grey: #2C3036;
  --accent-color-med-grey: #606974;
  --accent-color-lt-grey: #A4ACB7;
  --accent-color-pale-grey: #DFE2E6;
  --text-color-lt-grey: #ebf1f7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--text-color-lt-grey);
  font-family: 'Roboto', sans-serif;
  overscroll-behavior: none;
}

/* START: header and navigation section */
header {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 45px;
  background-color: var(--accent-color-black);
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
  top: 0;
}

header .logo-title {
  display: inline-flex;
  align-items: center;
}

header .logo {
  width: 50px;
  margin-right: 10px;
  fill: var(--accent-color-green);
}

header h1 a {
  color: var(--accent-color-lt-purple);
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  text-decoration: none;
}

header h1 a span {
  color: var(--accent-color-med-grey);
  font-weight: 400;
  font-size: 20px;
}

header nav a {
  text-decoration: none;
  color: var(--accent-color-med-grey);
  padding: 8px 12px;
  text-transform: uppercase;
}

header nav a:hover {
  color: var(--accent-color-lt-purple);
}

header nav li .dronet-resume {
  border: 1px solid var(--accent-color-green);
  margin-left: 15px;
}

header nav li .dronet-resume:hover {
  background-color: var(--accent-color-green);
  color: var(--accent-color-dark-grey);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
/* END: header and navigation section */

/* START: hero and title section */
#hero{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 45px;
  position: relative;
  justify-content: center;
}

#hero {
  background-image: url("../images/hero-bkgd.jpg");
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-position: 80%;
  position: relative;
  border-bottom: 3px solid var(--accent-color-green);
  margin-bottom: 50px;
}

.hero-title h1 {
  font-size: 55px;
  font-weight: 500;
  color: var(--accent-color-pale-grey);
  line-height: 1.4;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
  text-align: center;
}
/* END: hero and title section */

/* START: about me section */
main {
  border: 4px solid black;
  max-width: 65vw;
  margin-top: 300px;
  margin: auto;
  justify-content: center;
  display: flex;
}

main h1 {
  font-size: 48px;
  /* border: 2px solid rgb(197, 73, 255); */
}

main p {
  max-width: 840px;
  font-size: 16px;
  color: rgb(107, 107, 107);
  font-weight: bold;
  /* border: 2px solid rgb(197, 73, 255); */
  padding-left: 30px;
}

#main-content-container {
  border: 3px solid red;
  margin: auto;
  justify-content: center;
  max-width: 60vw;
}

#section-01 {
  position: relative;
  /* border: 3px solid red; */
  display: inline-flex;
  /* flex-wrap: wrap; */
  margin-bottom: 60px;
  margin-left: 50px;
}

.avatar img {
  position: absolute;
  width: 125px;
  border-radius: 50%;
  left: -10px;
}

#section-01 h1 {
  position: relative;
  padding-right: 30px;
  text-align: right;
  line-height: 1.1;
  top: 135px;
}

.section-01-container {
  border-left: 2px solid black;
}

#section-02 {
  /* border: 3px solid red; */
  display: flex;
  margin-bottom: 60px;
  margin-left: 50px;
}

#section-02 h1 {
  position: relative;
  padding: 0 31px 0 15px;
  text-align: right;
}

.section-02-container {
  border-left: 2px solid black;
}

.main-img img {
  position: relative;
  max-width: 100%;
  height: auto;
}

.img-title {
  position: relative;
  padding: 10px 20px;
  background-color: rgb(154, 206, 255);
  width: 150px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  top: -60px;
  right: -6px;
  box-shadow: 3px 3px 6px 1px rgba(23, 23, 27, 0.4);
}

.section-02-container img,
.section-02-container .img-title {
  margin-left: 30px;
}

#flexbox-container {
  margin: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.card-container img {
  width: 385px;
  height: auto;
}

#section-03 {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 18px;
}

#section-03 h1 {
  padding-right: 30px;
}

.section-03-container {
  border-left: 2px solid black;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
}

.contact-info h4 {
  margin: auto;
  padding: 22px 7px 20px 30px;
  justify-content: center;
  text-align: center;
}


/* MEDIA QUERIES */

@media screen and (max-width: 960px) {

  main h1 {
    font-size: 37px;
  }

  main p {
    font-size: 14px;
    width: 385px;
    line-height: 1.3;
  }

  .avatar img {
    width: 100px;
  }

  #section-01 h1 {
    top: 110px;
  }

  .main-img img {
    width: 89%;
  }

  .img-title {
    width: 100px;
    height: 40px;
    top: -50px;
  }

  .img-title h4 {
    position: absolute;
    top: 3px;
    left: 16px;
  }

  .img-title h5 {
    position: absolute;
    top: 22px;
    left: 16px;
  }

  .card-container img {
    width: 354px;
  }

  #section-02 h1 {
    padding-right: 28px;
    line-height: 1;
  }

  #section-03 h1 {
    margin-left: 8px;
  }

  .contact-info {
    display: block;
  }

  .contact-info h4 {
    margin: auto;
    padding: 2px 30px;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .avatar img {
    right: -50px;
  }

  #section-01 h1 {
    position: relative;
    text-align: right;
    line-height: 35px;
  }

  main p {
    max-width: 280px;
  }

  .main-img img {
    width: 90%;
  }

  .card-container img {
    width: 255px;
  }

  #section-03 {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 5px;
  }

  #section-03 h1 {
    margin-left: 20px;
  }

  .contact-info h4 {
    margin: auto;
    font-size: 13px;
    text-align: left;
  }
}

@media screen and (max-width: 525px) {
  .section-01-container {
    border-left: none;
    justify-content: center;
  }

  #section-01 {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .avatar img {
    display: block;
  }

  #section-01 h1 {
    display: inline-block;

  }
}